<div class="row">
    <div class="col-xl-12">
        <kt-portlet [class]="'kt-portlet--height-fluid'">
            <kt-portlet-header [title]="'Elearnings'"
                [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
                <!-- <ng-container ktPortletTools>
                    <button [routerLink]="['/teacher/homeworks/create']" mat-raised-button color="primary"
                        matTooltip="Add New Homework">Add New Homework</button>
                </ng-container> -->
            </kt-portlet-header>
            <kt-portlet-body [class]="'kt-portlet__body--fit'">
                <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="sr_no">
                        <mat-header-cell *matHeaderCellDef> Sr. No</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="subject">
                        <mat-header-cell *matHeaderCellDef>Subject</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.subject.title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="class">
                        <mat-header-cell *matHeaderCellDef>Class</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.master_class.title}}
                        </mat-cell>
                    </ng-container>



                    <ng-container matColumnDef="play">
                        <mat-header-cell *matHeaderCellDef>Play</mat-header-cell>
                        <mat-cell *matCellDef="let element"> <button mat-icon-button color="primary" matTooltip="Play">
                                <mat-icon>play_for_work</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>



                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-slide-toggle>
                            </mat-slide-toggle>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [length]="pageData.total" [pageSize]="pageData.per_page"
                    (page)="onPageChange($event)">
                </mat-paginator>
            </kt-portlet-body>
        </kt-portlet>
    </div>
</div>